/*** CAPSULE THEME STYLES ***/

/* Begin Temp stylesheet */


.btn-link:hover {
    color: #0056b3;
}

header .navbar .material-icons {
	font-size: 20px;
	line-height: 1.6;
}
	
h1, h2 {
  line-height: 1 !important;
}

[data-hero-type=grid] .hero-text {
    top: auto;
    left: 2rem;
    bottom: 1rem;
}

div#hero-section .right-grid-items > li {
    height: calc(50vh - 57px) !important;
    width: 100%;
}

div#hero-section [class*=grid] {
    vertical-align: top;
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: calc(100vh - 114px) !important;
}


/* AJTEMP: Logo adjustments */
a.navbar-brand {
    line-height: 1 !important;
}

.store-logo {
    max-width: 50%;
}

/* AJTEMP: Padding and border on navigation */

.navbar-brand.py-3 {
    padding-bottom: 0rem !important;
    padding-top: 0rem !important;
}

.nav-item:last-child {
    padding-right: 0 !important;
}

.p-4 {
    padding: 1rem 2rem !important;
}

/* AJTEMP: Padding on products and product grid */
.product {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

#products-holder {
    padding: 0 1rem 2rem !important;
}




/* AJTEMP: Cart page */

#cart .table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#cart .table td, .table th {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#cart .table thead th:first-child {
    text-align: left;
}

#cart .item-image.col-sm-6 {
    padding: 0;
}

#cart .table thead th:nth-last-child(2) {
    text-align: center;
}

#cart td.actions:last-child {
    text-align: right;
}

#cart tfoot tr.visible-xs {
    display: none;
}

.dropdown-toggle::after {
    opacity: 0.3;
}

header .navbar .material-icons {
    font-size: 20px;
    line-height: 1.2;
}



/* End Temp AJ stylesheet */



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { html {font-size: .75rem} }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { html {font-size: .85rem} }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { html {font-size: .9rem} }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { html {font-size: 1rem} }


#maintenance_bar {top: initial !important;bottom: 0}
html body {margin-top: 0px !important}


body {
  /* -webkit-transform:translate3d(0,0,0); 
  -moz-transform:translate3d(0,0,0); */
  transition: .3s ease all;
    padding-top: 77px;
	font-size: 16px;	
}

body#home-page .pagination {
   display: none
}

p:empty {
    display: none;
}

.juicer-feed.modern .j-text {display:none}


img {
	max-width: 100%;
}

button, a.button {
	height: auto
}

/* Loader */

.centered {
    text-align: center;
}


.loading_wrap {
    background: #ffffff;
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100vh;
	top: 0;
	left: 0;
	transition: all .3s ease;
	-webkit-transition: all .9s ease;
	-moz-transition: all .9s ease;
	-e-transition: all .9s ease;
	-o-transition: all .9s ease;
}


.spinner {
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  height: 60px;
  width: 60px;
  position: absolute;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 6px solid #eeeeee;
  border-right: 6px solid #eeeeee;
  border-bottom: 6px solid #eeeeee;
  border-top: 6px solid #cccccc;
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Navigation */

header nav.navbar {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header nav .nav-link.active {
    border-bottom: 5px solid;
}

body.pt-0 {
    padding-top:0px !important;
}

body.header-overlay:not(.header-overlay--translucent) header nav.navbar {
    background-color: transparent;
    border: none;
    box-shadow: none;
}


body.header-overlay, body.header-overlay--translucent {
    padding-top: 0px !important;
}

li.nav-item a > * {
    vertical-align: top;
}

@media screen and (min-width: 768px) {
	
	header nav.navbar[data-navigation-style*=Condensed] [data-nav-view*=condensed] .material-icons {
		font-size: 28px;
		line-height: 1.6;
	}
}


a.navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 45px;
}


@media screen and (max-width: 767px) {

	.navbar-collapse {
		margin-top: 1.5rem;
	}

	.navbar-collapse li.nav-item {
		line-height: 100%;
		padding-top: 0;
		padding-bottom: 0;
		text-align: center;
	}
	
	.navbar-collapse.show {
		overflow: auto;
		height: 100vh;
	}

	.navbar-collapse.show ul.navbar-nav {
		overflow: auto;
	}
	
	a.navbar-brand {
        font-size: 30px;
        max-width: 40%;
    }

}



/* Hero: Grid */

div#hero-section {
    width: 100%;
    overflow: hidden;
    position: relative;
}

div#hero-section img {
    max-width: 100%;
    max-height: 100%;
}

div#hero-section [class*=grid] > li {
    display: inline-block;
    background-size: cover;
	background-position: center;
    width: 100%;
    height: 100%;
}


div#hero-section [class*=grid] > li > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

div#hero-section [class*=grid] {
    vertical-align: top;
    position: relative;
    overflow: hidden;
    display: inline-block;
	height: 100vh;
}

div#hero-section .right-grid-items > li {
    height: 50vh;
    width: 100%;
}

[data-hero-type] .hero-text {
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    width: 80%;
}

[data-hero-type*=grid] [data-hero-text-position].hero-text {top: initial; bottom:10%; left: 10%; right: initial; width: 80%}

[data-hero-type*=slider] [data-hero-text-position].hero-text {top: 50%; bottom:auto; right: initial; width: 50%}


[data-hero-type] [data-hero-text-position*=top].hero-text {top: 5%; bottom:initial}
[data-hero-type] [data-hero-text-position*=middle].hero-text {top: 50%; bottom:initial}
[data-hero-type] [data-hero-text-position*=bottom].hero-text {top: initial; bottom:5%}

[data-hero-type] [data-hero-text-position*=left].hero-text {left: 2rem; right: initial}
[data-hero-type] [data-hero-text-position*=center].hero-text {left: 50%; right: initial; text-align:center;}
[data-hero-type] [data-hero-text-position*=right].hero-text {right: 2rem; left: initial; text-align: right}

[data-hero-type] [data-hero-text-position*=middle][data-hero-text-position*=left] {transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%)}
[data-hero-type] [data-hero-text-position*=middle][data-hero-text-position*=center] {transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%);}
[data-hero-type] [data-hero-text-position*=middle][data-hero-text-position*=right] {transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%)}

[data-hero-type] [data-hero-text-position*=center][data-hero-text-position*=top] {transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%)}
[data-hero-type] [data-hero-text-position*=center][data-hero-text-position*=bottom] {transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%)}



.hero-text h2 {
	font-weight: 600;
}

div#hero-section [class*=grid] > li:before, div#hero-section li:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    top:0;
    left:0;
    display:inline-block;
}

.juicer-feed h1.referral {
	display: none !important
}

.right-grid-items > li:hover .hero-text {
    opacity: 1;
}

.right-grid-items > li .hero-text {
    opacity: 0;
    transition: 0.3s ease all;
}

/* Hero Slider */

div#hero-section .slick-slide img, [data-template=lookbook-page] .slick-slide img {
    width: 100%;
    max-height: none;
}

div#hero-section .slick-slide a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}


div#hero-section[data-hero-type=slider] .slick-dots, [data-template=lookbook-page] .slick-dots {
    bottom: 2rem;
    z-index: 3;
}

div#hero-section[data-hero-type=slider] .slick-dots li, [data-template=lookbook-page] .slick-dots li {
    background-color: #fff;
    border-radius: 100%;
    font-size: 0px;
    color: transparent;
    width: 15px;
    height: 15px;
    margin: 0px 10px;
}

.slick-dots li button::before {
    display:none
}


.slick-dots li button:before {
    font-size: 0px;
    color: transparent;
}

div#hero-section[data-hero-type=slider] .slick-slide div.hs-slide:before {
  content: "";
  background-color:rgba(0,0,0,.15);
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index:0
}

.hs-slide {
    background-size: cover;
    background-position: center;
    height: 100%;
}

.hs-slide img {
    display: none !important;
}


/* Content Blocks / Media Cards */

div#content-blocks-section:empty {
    display: none;
}


[data-cb-columns="1"] .cb-image, [data-media-card-style*="Alternating"] .cb-image {
    height: 75vh;
    background-size: cover;
    background-position: center;
}

[data-cb-columns="1"] .cb-text:before, [data-media-card-style*="Alternating"] .cb-image:before {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 6px;
}

[data-cb-columns="2"] .cb-image, [data-cb-columns="3"] .cb-image, [data-media-card-style*="2"] .cb-image, [data-media-card-style*="3"] .cb-image {
    background-size: cover;
    background-position: center;
    height: 50vh;
}

[data-cb-columns="1"] .cb-text:last-child:before, [data-media-card-style*="Alternating"]  .cb-text:last-child:before {
    right: 0;
}

[data-cb-columns="1"] .cb-text:first-child:before, [data-media-card-style*="Alternating"] .cb-text:first-child:before{
    left: 0;
}

[data-media-card-style*="Overlay"] .cb-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    width: 80%;
}

[data-media-card-style*="Overlay"] .cb-image {
    position:relative
}

[data-media-card-style*="Overlay"] .cb-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}

[data-media-card-style*="Overlay"] .cb-image--video + .cb-text {
    display: none;
}

.embed-responsive {
	max-height: 100%
}

[data-cb-columns="1"] .cb-text-inner, [data-media-card-style*="Alternating"] .cb-text-inner{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.cb-text {
    position: relative;
}

.cb-text-inner *:empty {
    display: none;
}

.cb-image > a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.content-block.flex-sm-row-reverse .cb-text:before {
    left: 0;
}

/* Content Blocks: Text Overlay */

[data-cb-text=overlay] .cb-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

[data-cb-text=overlay] .content-block {
    position: relative;
}

[data-cb-text=overlay] .cb-text-inner {
    top: 0%;
    transform: none;
    transform: none;
    position: relative;
}



@media screen and (max-width: 767px) {
    
    [data-cb-columns="1"] .cb-image, [data-media-card-style*="Alternating"] .cb-image {
        height: 30vh;
    }
    
    [data-cb-columns="1"] .cb-text-inner, [data-media-card-style*="Alternating"] .cb-text-inner {
        position: relative;
    }
	
	.cb-text:before {
		display:none !important;
		content: '' !important;
	}

	.cb-text-inner {
		position: relative;
		top: 0px;
		display: inline;
	}

	.cb-image {
		height: auto;
		min-height: 30vh;
	}

}

.instagram-feed iframe {
    width: 100% !important;
    height: calc(100vw/4) !important;
}

/* Products */

div#products-holder {
    padding: 0 0 30px;
}

.section-title {
    text-align: center;
    padding: 20px 0 0;
    text-transform: uppercase;
}

.section-title h4 {
	font-weight: 600;
}

.product-loop {
    margin-top: 30px;
}

div.product.sold-out {
	opacity: .5
}

div.product .badge {
    top: 1rem;
    left: 2rem;
}

.badge--sale span {
    color: inherit;
}

span.color-swatch {border-radius: 100%;}

#multiple_product_options li label {
    border-radius: 100%;
}

.product_options_list li {
    margin-right: 0;
}

.product_options_list li + li {
    margin-left: 10px;
}


.product-loop .product.shop-item-image > ul > li.:first-of-type {
    display: block;
}

.product-loop .product > ul li:not(:first-of-type) {
    display: none;
}

p.product-title a {
    color: #000;
}

.product .product_options_list span.label-text {
	display: none
}

.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


li.page-item a.page-link:not([href]) {
    pointer-events: none;
    color: rgba(0,0,0,.4);
    border-color: rgba(0, 0, 0, 0.1);
}

.page-link {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.1);
}

.page-link:hover {
    opacity: .6;
    color: initial;
}

/* Individual Product */

.back-link * {
    vertical-align: middle;
}

.back-link *:hover {
    text-decoration: none;
}

.product-intro h1 {
    text-transform: uppercase;
    font-weight: 600;
}

.product-images, .product-images_mobile {
	overflow:hidden
}

.product-thumbnails-list.swiper-wrapper {
	height: 100vh !important;
}

.product-images li img {
    width: 100%;
}

/* .parent-options.option-group .select {
    display:none;
} */

.parent-options.option-group select {
    height: auto;
    width: auto;
    min-width: 200px;
}

.product-thumbnails-list {
    padding: 0;
}

.product-image-gallery ::-webkit-scrollbar {
	display: none;
}

.product-thumbs {
	/* position: absolute;
	top: 1rem;
	left: 1rem;  */
	z-index:99;
}

.select.sub-options {
    border: none;
    display: inline-block;
    height: auto;
}

.select.sub-options select {
    -webkit-appearance: initial;
    border: 1px solid #bbb;
    box-sizing: border-box;
    display: inline-block;
    height: auto;
    cursor: pointer;
}

.sticky {
  position: fixed;
  width: 100%;
}

.product-description.is-affixed .description__inner {
    left: auto !important;
}

.product-description{
    will-change: min-height;
}

.description__inner{
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}


.tab-content + .tab-content {
    border-top: 1px solid rgba(0,0,0,.1);
}

.tab-content h6 {
    cursor: pointer;
}


[class*="tab-icon"]:before {
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

[aria-expanded=true] .tab-icon:before {
  content: "\e5ce";
}

[aria-expanded=false] .tab-icon:before {
  content: "\e5cf";
}


@media screen and (max-width: 767px) {
	.product-description.is-affixed .description__inner {
		position: relative !important;
		transform: none !important
	}
}


/* Cart */

span.item-delete svg {
    width: 20px;
}


.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}

.cart-footer.sticky {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding-top: 2rem;
    left: 0;
    background-color: #fff;
    z-index: 999;
    right: 0;
}

/* Lookbook */


.cover-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}


.lookbook-slider .swiper-slide {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
	
.lookbook-slider .swiper-slide img {
	display:none
}
	
.cover-text h1 {
    font-weight: 600;
    text-transform: uppercase;
}

.cover-text h2 {
    font-weight: 400;
}

.cover-text p {
    text-transform: uppercase;
}

.lb-caption {
    position: absolute;
    left: 2rem;
    bottom: 1rem;
    width: auto;
    line-height: 150%;
    font-weight: 400;
}



/* Search */

[id*=search-modal] .modal-content {
    background-color: transparent;
}

[id*=search-modal] h1 {
    color: #fff;
}

.newsletter-block {
    background-color: rgba(0,0,0,.05);
}


/* Cart Modal */

	.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: auto;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: hidden;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

	.modal-body {width: 100vw; min-width: 300px; max-width: 100%}
	

        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: 0;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

	.modal-content {
		border-radius: 0;
		border: none;
	}


.modal-body .cart-body {
    height: 60vh;
    overflow: auto;
}

body.modal-open {
	overflow:hidden;
	height:100vh;
}

.modal-backdrop.show {
    opacity: .7;
}

div#search-modal-btn {
    padding-right: 0px !important;
}

.modal-body .cart-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #fff;
}

