body {
    letter-spacing: 2px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    letter-spacing: 4px;
}
.cb-text-inner {
    text-align: center;
}
.cb-text-inner h3 {
    font-weight: 700;
}
.nav-link {
    text-transform: uppercase;
}
.cb-text-inner .btn, .hero-text .btn {
    background: transparent;
    border: 2px solid #fff;
}
.btn {
text-transform: uppercase;
}
.btn:hover {
    opacity: 0.7;
}
.badge span {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
}
#products-page #products-holder {
    padding: 0 0rem 2rem !important;
}
div#hero-section[data-hero-type=slider] .slick-dots li, [data-template=lookbook-page] .slick-dots li {
    width: 10px;
    height: 10px;
}
@media (min-width: 768px) {
.pl-4, .px-4 {
    padding-left: 3.5rem!important;
    padding-right: 3.5rem!important;
}
#products-holder {
    padding: 0 3.5rem 2rem !important;
}
header nav.navbar {
    padding-left: 4.5rem !important;
    padding-right: 4.5rem !important;
}
[data-template="product"] .row {
    margin: 0 -0.5rem;
}
}